// Colors
$primary-color: rgba(93, 80, 198, 1);
$secondary-color: rgba(248, 94, 159, 1);
$text-color: rgba(0, 0, 0, 1);
$light-grey-color: rgba(25, 24, 37, 0.1);
$yellow-accent: rgba(250, 205, 73, 1);
$orange-color: rgba(255, 87, 34, 1);
$link-color: rgba(34, 40, 49, 1);
$grey-color: rgba(25, 24, 37, 0.5);
$color-white: rgba(255, 255, 255, 1);
$off-white: rgba(238, 238, 238, 1);
$dark-pink: rgba(244, 67, 108, 1);
$black-color: rgba(17, 24, 39, 1);
$off-grey: rgba(156, 163, 175, 1);
$fade-black: rgba(0, 0, 0, 0.5);
$purple-color: rgba(124, 58, 237, 1);
$sky-blue: rgba(6, 182, 212, 1);
$dark-yellow: rgba(251, 191, 36, 1);

// Shadow for box or card
$card-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
$shadow-glow: 0 0 48px rgba(0, 0, 0, 0.2);
