// Colors
$primary-color: rgba(93, 80, 198, 1);
$secondary-color: rgba(248, 94, 159, 1);
$text-color: rgba(0, 0, 0, 1);
$light-grey-color: rgba(25, 24, 37, 0.1);
$yellow-accent: rgba(250, 205, 73, 1);
$orange-color: rgba(255, 87, 34, 1);
$link-color: rgba(34, 40, 49, 1);
$grey-color: rgba(25, 24, 37, 0.5);
$color-white: #ffffff;
