.navbar {
    @include flex-layout(space-between, center, row);
    padding: rem(36px) rem(16px);
    position: relative;

    &__menu {
        display: none;
    }

    &__hamburger {
        background-color: $primary-color;
        color: white;
        border-radius: 10px;
        font-size: rem(26px);
        @include box(41px, 41px);
        @include flex-layout(center, center, row);
    }

    &__buttons--signup {
        background-color: $primary-color;
        color: #ffffff;
    }
    &__buttons--login {
        background-color: transparent;
    }

    &__buttons--signup:hover,
    &__buttons--login:hover {
        opacity: 0.7;
    }

    &--active {
        position: absolute;
        display: block;
        top: 90%;
        right: 5%;
        box-shadow: $box-shadow;
        padding: rem(30px) rem(40px);
        @include flex-layout(space-between, flex-start, column);
        gap: rem(20px);

        .navbar__links {
            @include flex-layout(space-between, flex-start, column);
            gap: rem(20px);
            padding: rem(10px);

            & li {
                border-bottom: 2px solid $heading-color;
            }
        }
    }

    @include screen(md) {
        padding: rem(32px) rem(65px);

        &__links {
            display: none;
        }

        &--active {
            position: static;
            box-shadow: none;
            padding: 0;
            .navbar__links {
                position: absolute;
                box-shadow: $box-shadow;
                top: 90%;
                left: 5%;
                padding: rem(30px) rem(40px);
                @include flex-layout(center, flex-start, column);
                gap: rem(20px);
            }
        }

        &__buttons {
            position: static;
            &--login {
                background-color: $color-white;
            }

            &--signup {
                background-color: $primary-color;
                color: $color-white;
            }
        }

        &__hamburger {
            order: 1;
        }
        &__logo {
            order: 2;
            margin-left: rem(180px);
        }

        &__menu {
            display: flex;
            order: 3;
        }
    }

    @include screen(lg) {
        padding: rem(65px) 0;

        &__hamburger {
            display: none;
        }

        &__links {
            @include flex-layout(space-between, center, row);
            gap: rem(70px);
        }

        &__buttons--signup:hover,
        &__buttons--login:hover {
            opacity: 0.6;
        }

        .navbar__links a {
            transition: color 0.3s ease;

            &:hover {
                color: $primary-color;
            }

            &:active {
                opacity: 0.6;
            }
        }
        &__menu {
            @include flex-layout(space-around, center, row);
            width: 80%;
        }

        &__logo {
            margin-left: rem(130px);
        }
    }
}
