.travel-point {
    margin-top: 100px;
    width: 100vw;

    .travel-image {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .travel-info {
        margin-top: rem(30px);
        .travel-text {
            h3 {
                @include font-style(16px, 700);
                color: $secondary-color;
                text-align: center;
                letter-spacing: 3px;
            }

            h2 {
                @include font-style(32px, 700);
                text-align: center;
                margin-top: 17px;
            }

            p {
                @include font-style(16px, 400);
                color: $para-color;
                text-align: center;
                font-family: $secondary-font-family;
                width: 90%;
                margin-inline: auto;
                margin-top: 30px;
                line-height: 26px;
            }
        }

        .travel-cards {
            padding-inline: 40px;
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 16px;
            margin-top: 30px;
            .travel-card {
                border: 1px solid $border-color;
                border-radius: rem(32px);
                padding: 35px 20px;
                @include flex-layout(center, center, column);
                gap: 16px;
                h2 {
                    @include font-style(35px, 700);
                    color: $orange-color;
                }

                p {
                    @include font-style(18px, 400);
                    font-family: $secondary-font-family;
                }
            }
        }
    }

    .ticket-icon {
        display: none;
    }

    @include screen(tablet) {
        .travel-info {
            .travel-text {
                margin-top: 67px;
                h3 {
                    font-size: 23px;
                    letter-spacing: 4.5px;
                }
                h2 {
                    font-size: 39px;
                }
                p {
                    width: 85.65%;
                    font-size: 18px;
                    line-height: 30px;
                    font-family: $secondary-font-family;
                }
            }

            .travel-cards {
                margin-top: 62px;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                column-gap: 15px;
                row-gap: 30px;
                padding-inline: 55px;

                .travel-card {
                    padding: 36px 8px;
                }
            }
        }
    }

    @include screen(desktop) {
        @include flex-layout(space-evenly, start, row);
        position: absolute;
        margin-top: 120px;

        .travel-info {
            width: 66%;
            margin: 0;
            .travel-text {
                margin: 0;
                @include flex-layout(start, start, column);

                h3 {
                    margin-top: 10px;
                }

                h2 {
                    text-align: start;
                    font-size: 44px;
                    width: 90%;
                    word-spacing: -1px;
                }

                p {
                    text-align: start;
                    margin-left: 0;
                    line-height: 28px;
                }
            }

            .travel-cards {
                place-items: start;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                padding-left: 2px;
                column-gap: 1px;
                margin-right: 0;
                .travel-card {
                    padding-inline: 30px;
                }
            }

            .ticket-icon {
                display: block;
                position: absolute;
                right: 0%;
                bottom: 10%;
            }
        }
    }
}
