@use '../abstracts/functions' as f;
@use '../base/typography' as t;
@use '../abstracts/colors' as c;

.button {
    border: none;
    padding: f.rem(16px) f.rem(32px);
    border-radius: 100px;
    font-size: f.rem(14px);
    font-weight: t.$font-weight-bold;

    &:hover {
        opacity: 0.6;
    }

    &--primary {
        background-color: c.$primary-color;
        color: c.$color-white;
    }

    &--text {
        background-color: c.$color-white;
    }
}
