@use '../abstracts/functions' as f;
@use '../base/typography' as t;
@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as m;

.button {
    border: none;
    padding: f.rem(16px) f.rem(32px);
    border-radius: 100px;
    font-size: t.$label-text;
    font-weight: t.$font-weight-bold;
    @include m.flex-layout(center, center, row);
    gap: f.rem(5px);
    transition:
        opacity 0.3s ease-in,
        transform 0.3s ease;

    &:hover {
        opacity: 0.6;
        transform: scale(1.04);
    }

    &--primary {
        background-color: c.$primary-color;
        color: c.$color-white;
    }

    &--text {
        background-color: c.$color-white;
    }

    &--outlined {
        border: 1px solid c.$off-white;
    }
}
