@use "../abstracts/functions" as f;

$primary-font-family : CircularStd;
$secondary-font-family:"Inter", sans-serif;



//mixin for font styling
@mixin font-style($font-size,$font-weight){
    font-size: f.rem($font-size);
    font-weight: $font-weight;
    font-family: CircularStd,'sens-serif';
}

